body {
    background-color: #3d087b;
  }
  p {
    font-size: xx-large;
  }
  .clocklogo {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 204px;
    height: 77px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 1120px;
    margin: 30px 180px;
    gap: 10px;
  }
  .clock {
    justify-content: space-between;
    width: 204px;
    height: 77px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .clock2,
  .container-2,
  .msg1,
  .image {
    border-radius: 10px;
    background-color: #fff;
  }
  .clock3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 500px;
  }
  .text {
    color: #3d087b;
    text-transform: uppercase;
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    font-size: 30px;
    font-family: "Dongle", sans-serif;
    letter-spacing: 0px;
    position: relative;
    top: 30px;
    opacity: 1;
  }
  .hourblock,
  .minblock,
  .secblock {
    background: url(./images/time1.png);
    width: 80px;
    height: 90px;
    align-self: center;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .text2,
  .text4,
  .text6 {
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8a11bf;
    position: absolute;
    top: 10px;
  }
  .text3,
  .text5,
  .text7 {
    font: normal normal normal 23px/28px Barlow;
    letter-spacing: 0px;
    color: #5f0089;
    position: absolute;
    top: 50px;
  }
  .am {
    background: url(./images/time2.png);
    width: 80px;
    height: 90px;
    border-radius: 2px;
    text-align: center;
  }
  .text8 {
    font: normal normal normal 36px/43px Barlow;
    color: #fff;
    position: relative;
    top: 20px;
  }
  .clock {
    grid-column: 3/6;
    grid-row: 1/ 4;
    width: 536px;
    height: 130px;
  }
  .clock2 {
    width: 536px;
    height: 130px;
    z-index: 1;
  }
  .shadowbox {
    width: 480px;
    height: 130px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
    z-index: -1;
    position: relative;
    bottom: 120px;
    left: 30px;
  }
  .shadowbox2 {
    width: 379px;
    height: 130px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
    z-index: -2;
    position: relative;
    bottom: 240px;
    left: 70px;
  }
  .timeblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 90px;
  }
  .clock3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 20px;
  }
  .container-2 {
    grid-row: 2/ 4;
    grid-column: 1/ 3;
    border: 1px solid;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    opacity: 1;
    width: 566px;
    height: 363px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    bottom: 8px;
  }
  .box1 {
    background: transparent url("./images/sun.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 25px;
    margin: 15px 0px 0px 0px;
  }
  .box2 {
    background: transparent url("./images/dinner.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 25px;
    margin: 15px 0px 0px 0px;
  }
  .box3 {
    background: transparent url("./images/sleep.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 25px;
    margin: 15px 0px 0px 0px;
  }
  .box4 {
    background: transparent url("./images/sleep.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    left: 25px;
    margin: 15px 0px 0px 0px;
  }
  .line1 {
    border-left: 2px solid #ededed;
    position: relative;
    left: 43px;
  }
  #wakeup,
  #lunch,
  #nap,
  #night {
    width: 281px;
    height: 45px;
    border: 1px solid;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    left: 75px;
  }
  .op1 {
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #ededed;
  }
  .selected_time {
    font-family: "Dongle", sans-serif;
  }
  label {
    text-align: left;
    font: normal normal lighter 20px/28px Manrope;
    letter-spacing: 0px;
    color: #3d087b;
    opacity: 1;
    position: relative;
    left: 50px;
  }
  .msgbox1 {
    grid-row: 2/ 3;
    grid-column: 3/ 4;
    width: 536px;
    height: 118px;
    position: relative;
    top: 35px;
  }
  .msg1 {
    position: relative;
    top: 40px;
    font: normal normal 900 40px/90px Dongle, sans-serif;
    letter-spacing: 0px;
    color: #8e53f0;
    opacity: 1;
    vertical-align: middle;
  }
  .msgbox2 {
    background-color: rgb(106, 65, 154);
    grid-column: 1/ 3;
    grid-row: 4/ 5;
    width: 566px;
    height: 77px;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
  }
  .msg2 {
    position: relative;
    top: 20px;
    text-align: center;
    font: normal normal 900 50px/34px Dongle, sans-serif;
    letter-spacing: 0px;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
  }
  .buttn {
    grid-row: 5/ 6;
    width: 299px;
    height: 50px;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    position: relative;
    bottom: 30px;
  }
  button {
    background: transparent
      linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%)
      0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border-style: none;
    width: 299px;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
  }
  button:hover {
    content: none;
    background: transparent
      linear-gradient(280deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%)
      0% 0% no-repeat padding-box;
  }
  button:hover span {
    display: none;
  }
  
  button:hover:before {
    content: "Party time!";
  }
  .timebox {
    background-color: rgb(106, 65, 154);
    grid-column: 2/ 3;
    grid-row: 5/ 6;
    width: 253px;
    height: 100px;
    border-radius: 10px;
    opacity: 0.8;
    position: relative;
    bottom: 30px;
  }
  .times {
    text-align: center;
    font: normal normal bold 15px/25px Manrope;
    letter-spacing: 0px;
    color: #f25cfe;
  }
  .image {
    grid-row: 3/5;
    grid-column: 3/4;
    width: 536px;
    height: 341px;
    background: url(./images/Component\ 30\ –\ 1.jpg);
    position: relative;
    top: 80px;
  }
  @media all and (max-width: 430px) {
    * {
      margin: 0;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
      width: 80px;
      height: 70vh;
      margin: 20px 20px 20px 20px;
      position: relative;
      top: 50px;
    }
    .clocklogo {
      grid-row: 1/2;
      grid-column: 1/3;
      width: 60vw;
      height: 10vh;
    }
    .clock {
      grid-column: 1/3;
      grid-row: 2/3;
      width: 80vw;
      height: 10vh;
      position: relative;
      top: 20px;
    }
    .clock2 {
      width: 90vw;
      z-index: 1;
    }
    .shadowbox {
      width: 80vw;
      position: relative;
      bottom: 120px;
      left: 15px;
    }
    .shadowbox2 {
      width: 50vw;
      position: relative;
      bottom: 240px;
      left: 65px;
    }
    .clock3 {
      width: 100vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      top: 0px;
      left: 10px;
    }
    .text {
      display: none;
    }
    .timeblock {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 60vw;
      height: 90px;
      position: relative;
      left: 5px;
      top: 20px;
    }
    .text2,
    .text4,
    .text6 {
      width: 20vw;
      height: 90px;
      align-self: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .text3,
    .text5,
    .text7 {
      position: absolute;
      top: 50px;
    }
    .am {
      width: 20vw;
      height: 90px;
    }
    .text8 {
      position: relative;
      top: 20px;
    }
    .container-2 {
      grid-row: 3/ 4;
      grid-column: 1/ 3;
      width: 90vw;
      height: 363px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      top: 110px;
    }
    .line1 {
      position: relative;
      left: 23px;
    }
    #wakeup,
    #lunch,
    #nap,
    #night {
      width: 30vw;
      height: 45px;
      position: relative;
      left: 35px;
    }
    .wake_text {
      position: relative;
      right: 10px;
    }
    .box1 {
      width: 80vw;
      position: relative;
      left: 5px;
      margin: 15px 0px 0px 0px;
    }
    .box2 {
      position: relative;
      left: 5px;
      margin: 0px 0px 0px 0px;
    }
    .box3 {
      position: relative;
      left: 5px;
      margin: 0px 0px 0px 0px;
    }
    .box4 {
      position: relative;
      left: 5px;
      margin: 0px 0px 0px 0px;
    }
    .msgbox2 {
      grid-column: 1/ 3;
      grid-row: 4/ 5;
      width: 90vw;
      height: 15vh;
      border-radius: 10px;
      position: relative;
      top: 120px;
    }
    .buttn {
      grid-column: 1/ 3;
      grid-row: 5/ 6;
      width: 166px;
      height: 50px;
      position: relative;
      top: 130px;
    }
    button {
      width: 90vw;
      height: 8vh;
    }
    .timebox {
      grid-column: 1/ 3;
      grid-row: 6/ 7;
      width: 90vw;
      height: 16vh;
      position: relative;
      top: 140px;
    }
    .msgbox1 {
      grid-row: 7/ 8;
      grid-column: 1/ 3;
      width: 90vw;
      height: 16vh;
      position: relative;
      top: 140px;
    }
    .msg1 {
      position: relative;
      top: 10px;
      bottom: 0px;
      text-align: center;
    }
    .image {
      grid-row: 8/ 9;
      grid-column: 1/ 3;
      width: 90vw;
      height: 30vh;
      background: url(./images/Component\ 30\ –\ 1.jpg) center no-repeat;
      position: relative;
      top: 140px;
    }
  }
  